@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .channels-container {
  }
  .channel {
    @apply cursor-pointer bg-white bg-opacity-20 p-4 flex items-center justify-center transition-all border border-gray-500 hover:border rounded-md hover:bg-opacity-40 hover:border-purple-600;
  }

  /* General scrollbar styles */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px; /* Scrollbar width */
    padding: 20px 0;
    margin: 10px 0;
  }

  /* Scrollbar track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #0000006f; /* Track background */
  }

  /* Scrollbar thumb */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    /* background: #5c5c5c89; Thumb background */
    @apply bg-purple-800;
  }

  /* Scrollbar handle color on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Thumb background on hover */
  }
}
